@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cookie", cursive;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
